

*{
  padding: 0;
  margin: 0 ;
  box-sizing: border-box;
}
:root{
  --primary-color: #62001F;
  --text-color : #22033e ;
}
html{
  font-size: 10px;
}
body{
  font-family: sans-serif;
  background-color: black;
  color: #a81717;
}
/*common style for multiple place*/
img{
  width: 100%;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  border: 3px solid var(--primary-color); 
}

a{
  text-decoration: none;
  color: #a81717;
}
.about{
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--text-color);
}
.title{
  color: var(--primary-color);
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
}

.pretitle{
  font-size: 1.4rem;
  color: var(--text-color);
  font-weight: bold;
  margin-top: 2rem;
  
}
.item_title{
  font-size: 1.6rem;
  color: #a81717;
  font-weight: 700;
  margin: 0.8rem 0 ;
}
.item_subtitle{
  font-size: 1.4rem;
  color: var(--text-color);
  font-weight: 400;
}
/*layouts*/
.container{
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  display: grid;
padding: 5rem;
background:#F7F7DD;
grid-template-columns: 1fr 1fr;
gap: 4rem;
}
.group1 , .group2{
  display: flex;
  flex-direction: column;
  gap: 5rem ;
}
.group3{
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  grid-column: 1/-1;
  display: flex;
  flex-direction: row;
  gap: 5rem;
}
.group3 > div{
  flex: 1;
}
@media only screen and (max-width :768px){
  .group3{
    flex-direction: column;
  }
  .profile{
    margin-bottom: 0;
  }
}
/* for small device*/
@media only screen and  (max-width : 768px){
  .container{
    width: 100%;
    grid-template-columns: 1fr;
    padding: 3rem;
    gap: 7rem;
  }
}
/*for upper portion*/
.profile{
  grid-column: 1/-1;
  margin-bottom: 2rem;
}
/*profile style*/
.profile_container{
  display: flex;
  gap: 2rem;
}
.profileImg{
  width: 250px;
}
.first{
  color: #a81717;
  font-weight: 200;
  font-size:  clamp(2rem , 8vw , 4rem);/*minimum and maximum font */
  text-transform: uppercase;
  display: block; /*name gose next line*/
  margin-bottom: -.8rem;
}
.second{
  color: var(--primary-color);
  font-weight: 700;
  font-size:  clamp(2.5rem , 15vw , 7rem);/*minimum and maximum font */
  text-transform: uppercase;
  display: block;
}
.profile_title{
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
}
.downloadbtn{
  display: block;
  text-decoration: underline;
  font-size: 1.6rem;
  margin-top: 1rem;
}
.downloadbtn:hover{
  color: #95D240;
}

@media only screen and (max-width:768px){
  .profile_container{
    flex-direction: column;
  }
}
/*expertise*/
.skill_list{
  margin-top: 1rem;
  margin-left: 2rem;
  line-height: 2;
}
/*Ref*/
.ref_item{
  margin-top: 2rem;
}
.ref_name{
  font-size: 1.6rem;
  font-weight: 700;
}
/*Education*/
.edu_item{
  margin-top: 2rem;
}
.certi_item{
  margin-top: 2rem;
}
.exp_item{
  margin-top: 2rem;
}
.achi_item {
  margin-top: 2rem;
}

/*interest*/
.inter_items{
  margin-top: 2rem; 
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;

}

.inter_item{

  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: var(--text-color);
}

i{
  font-size: 2rem;
  margin-bottom: .5rem;
}

/*socials*/
.social_items{
margin-top: 2rem;
}
.social_item{
  margin-top: 1.5rem;
  font-size: 1.5rem;
  display: flex;
  gap: .5rem;
  align-items: center;
  justify-content: flex-start;
  color: var(--text-color);
}
hr{
  grid-column: 1/-1;
  width: 80%;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 1rem;
  border: none;
  border-top: 2px solid var(--primary-color);
  
}
.social_item:hover{
  color: #95D240;
}
@media only screen and (max-width:768px){
  hr{
    margin: 0 auto;
  }
}


/*no break*/

@media print {
  body {
    page-break-inside: avoid; /* Prevents page breaks inside elements */
    overflow: visible;
  }
  .no-break {
    page-break-inside: avoid; /* Prevents page breaks inside this specific element */
  }

  table, pre, code {
    page-break-inside: avoid; /* Useful for preventing tables and code blocks from breaking */
  }

  /* Optional: Set custom page size */
  @page {
    size: auto; /* Or specify a fixed size like A4, A3 */
    margin: 0;  /* Reduce or remove margins */
  }

}